.big-btn{
    border: 0.75px solid $color-gray-text;
    height: 120px;
    width: 310px;
    margin-left: 44px;
    font-size: 36px;
    font-family: $font-base;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray-text;
}