.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 220px;
    .nav-link {
        margin-left:55px;
        cursor:pointer;
    }
    .start {
        width: 80px;
        text-align: center;
        border: 0.75px solid $color-gray-text;
        padding: 20px 9px 20px 9px;
    }
}