.start-section {
    display: flex;
    width: 100%;
    height: 963px;
}
.img-container {
    background: url(../../assets/Home-Hero-Image.jpg);
    flex: 1;
    background-position: 100%;
}
.header {
    flex: 1 ;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.sign-links{
    display: flex;
    justify-content: flex-end;
    margin-right: 142px;
    margin-bottom: 17px;
}
.nav-list{
    color: $color-gray-text;
    font-family: $font-base;
    font-size: 18px;
    text-align: left;
    margin-right: 142px;
    padding: 9px 0px 9px 0px;
}
