.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 220px;
    .nav-link {
        margin-left:55px;
        cursor:pointer;
        text-decoration: none;
        color: $color-gray-text;
    }
}