.link {
    font-family: $font-base;
    text-decoration: none;
    color: $color-gray-log;
    margin-top: 46px;
    padding: 10px;
}
.sign-in {
    margin-right: 10px;
}
.sign-up {
    border: 0.75px solid $color-yellow-background;
}