.sign-links{
    display: flex;
    justify-content: flex-end;
    margin-right: 142px;
    margin-bottom: 17px;
}
.nav-list{
    color: $color-gray-text;
    font-family: $font-base;
    font-size: 18px;
    text-align: left;
    margin-right: 142px;
    padding: 9px 0px 9px 0px;
}
